
h1{
    font-size: 40px;
    letter-spacing: 2px;
    color: rgb(243, 240, 240);
    font-family:'Lato';
    text-transform: uppercase;
    font-weight:400;
    text-align: center;
    margin-bottom: 15px;
  }
  table{
    width:100%;
    table-layout: fixed;
    
  }
  
  tr:nth-child(even) {
    background-color: #e4e3e3;
}
  .tbl-header{
    background-color: rgba(0, 0, 0, 0.7);
    font-family:'Lato';
    font-size:40px;
   }
   .btn-full:link,
.btn-full:visited{
    background-color: #e67e22;
   border: 2px solid #e67e22;
   position: relative;
   top:20px;
   left:850px;
    
}
.btn-full:hover,
.btn-full:active{
   
  
   background-color:2px solid #bf6516c0;
    
   position: relative;
   top:20px;
   left:850px;
}
.btn:hover,
.btn:active{
  background-color: #bf6516; 
  position: relative;
  top:20px;
  left:850px;
}
.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight:300;
    text-decoration: none;
    border-radius:200px;
    color:#fff;
    transition: background-color 0.2s, border 0.2s, color: 0.2s;
    margin-right: 15px;
    position: relative;
    top:20px;
    left:850px;
}
  .tbl-content{
    height:500px;
    width:auto;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
    background-color: rgb(243, 240, 240);
    box-shadow: 2px 2px #000;
   
  }
  .tab{
  position:relative;
  left:250px;
  }
  
  table,th,td{
      
    border-collapse: collapse;
  
  }
  th{
    padding: 20px 15px;
    text-align: auto;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
  }
  td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color:#000;
    border-bottom: solid 1px rgba(255,255,255,0.1);
  }
  
  
  /* demo styles */
  
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
  body{
    background-image:linear-gradient(rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.65)),url(homebackground.jpg);
    font-family: 'Roboto', sans-serif;
  }
  section{
    margin: 50px;
  }
  
  
  /* follow me template */
 
 
  
  
  /* for custom scrollbar for webkit browser*/
  
  ::-webkit-scrollbar {
      width: 6px;
  } 
  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  } 
  ::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  }