<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1"></meta>
<link type="text/css" rel="stylesheet" href="proj.css"></link>
<script src ="proj1.js" type="text/javascript"></script>
<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400" rel="stylesheet"></link>
 <title>Rest Automation ResponsePage</title>
 <style type="text/css">
</style>
</head>
<body>
<section>
    <!--for demo wrap-->
    <h1>Request Logs</h1>
    <div class="tbl-header">
			<table cellpadding="0" cellspacing="0" border="0">
				<thead>
					<tr>
						<th>Your Request</th>
						<th>Response Received</th>
						<th>Time Taken</th>
					</tr>
				</thead>
			</table>
		</div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
      
	<tr th:each="r:${response}">
		<td> <span th:text="${r.input}"></span></td><td><span th:text="${r.output}"></span></td><td><span th:text="${r.time}"></span></td>
	</tr>
             </tbody>
      </table>
    </div>
  </section>
  
  </body>
  </html>
 
 