@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
#inp1,#inp2{
	display:none;
}

#option{
	display:none;
}
#contact-submit1{
	display:none;
}
body {
  font-family: 'Lato';
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(page1.jpg);
  
  
}
h3{
    font-weight: 400;
    font-size:50px;
}
.dropdown{
    font-family: 'Lato';
    font-size:20px;
    font-weight:300;
    width:100%;
    height:auto;
}
.container {
    font-family:'Lato';
  max-width: 400px;
  width: 100%;
 
 margin-left:650px;
 margin-top:25px;
  
}

.contact input[type="text"],
.contact input[type="email"],
.contact input[type="tel"],
.contact input[type="url"],
.contact textarea,
.contact button[type="submit"] {
  font: 400 12px/16px 'Lato';
}

.contact {
  background: #F9F9F9;
  float:right;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
input{
    font-family:'Lato';
    font-size:20px;
    font-weight:400;
      
 
}
.contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

.contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

.contact input[type="text"],
.contact input[type="email"],
.contact input[type="tel"],
.contact input[type="url"],
.contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

.contact input[type="text"]:hover,
.contact input[type="email"]:hover,
.contact input[type="tel"]:hover,
.contact input[type="url"]:hover,
.contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid .aaa;
}

.contact textarea {
  font-family:'Lato';
  font-size:15px;
  font-weight:400;
    height: 200px;
  max-width: 100%;
  resize: none;
}

#contact-submit {
  cursor: pointer;
  width: 100%;
  border: none;
  background:  #e67e22;
  color: #FFF;
  margin: 0 0 5px;
  border-radius:20px;
  padding: 10px;
  font-size: 20px;
  margin-top:15px;
}

#contact-submit {
  background:  #e67e22;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
#contact-submit1 {
  cursor: pointer;
  width: 100%;
  border: none;
  background:  #e67e22;
  color: #FFF;
  margin: 0 0 5px;
  border-radius:20px;
  padding: 10px;
  font-size: 20px;
  margin-top:15px;
}

#contact-submit1 {
  background:  #e67e22;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}



.copyright {
  text-align: center;
}

.contact input:focus,
.contact textarea:focus {
  outline: 0;
  border: 1px solid .aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}