*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html{
  background-color: #fff;
  color: #555;
  font-family: 'Lato','Arial';
  font-size:20px;
  font-weight:300;
  text-rendering: optimizeLegibility;
}
.row{
  width: 1140px;
  margin: 0 auto;
}
section {
  padding: 80px 0;
}

h1,h2,p{
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
 
  
}

h1{
  margin:0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
   word-spacing: 4px;
}
p,h2{
  font-size:220%;
  word-spacing: 1px;
  font-weight: 800;
  color:#fff;
    text-align: center;
  
}
/*---------------------------------------------*/
/*       HEADER                                */
/*---------------------------------------------*/
header{
  background-image:linear-gradient(rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.65)),url(homebackground.jpg);
  background-size:cover;
  background-position: center;
  height: 100vh;
}
.hero-text-box{
  position: absolute;
  width: 1140px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.logo{
  height:55px;
  width:auto;
  float:right;
  margin-top: 20px;
  border-bottom: 2px solid #e67e22;
}
.main-nav{
  float:right;
  list-style:none;
  margin-top: 55px;
}
/*Buttons*/
.btn-full:link,
.btn-full:visited{
    background-color: #e67e22;
   border: 2px solid #e67e22; 
    
    
}
.btn-full:hover,
.btn-full:active{
   
  
   background-color:2px solid #bf6516c0;
    
    
}
.btn:hover,
.btn:active{
  background-color: #bf6516; 
}
.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight:300;
    text-decoration: none;
    border-radius:200px;
    color:#fff;
    transition: background-color 0.2s, border 0.2s, color: 0.2s;
    margin-right: 15px;
}
.btn-ghost:link,
.btn-ghost:visited{
   border: 2px solid #e67e22; 
    color:#e67e22;
}
.btn-ghost:hover,
.btn-ghost:active{
   border: 2px solid #e67e22; 
    color:#fff;
}