@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: 'Lato';
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(aboutus.jpg);
  background-size:cover;
  
}
.aboutus{
  color:#fff;
  font-size:50px;
  font-weight:400;
  text-align:center;
  font-family:'Lato';
  margin-top:80px;
  padding-bottom: 30px;
  text-transform:uppercase;
  border-bottom: 2px solid #e67e22;
  text-decoration: none;
  
}
h3{
    font-weight: 700;
    font-size:90px;
    text-align: center;
}
.dropdown{
    font-family: 'Lato';
    font-size:20px;
    font-weight:300;
    width:100%;
    height:auto;
}
.container {
    font-family:'Lato';
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  float:left;
 margin-left:40px;
 margin-right: 40px;
}
.para{
  font-size:20px;
  font-weight:400;
}
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px 'Lato';
}
.btn-full:link,
.btn-full:visited{
    background-color: #e67e22;
   border: 2px solid #e67e22; 
   font-size:30px;
   font-weight:300;
    position: relative;
    top:50px;
    left:800px;
} 
.btn-full:hover,
.btn-full:active{
   
  font-size:30px;
  font-weight:300;
   background-color:2px solid #bf6516c0;
    
    
}
.btn:hover,
.btn:active{
  background-color: #bf6516; 
  float:bottom;
  align-items: center;
  font-size:30px;
   font-size:40px;
  font-weight:300;
}
.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight:100;
    text-decoration: none;
    border-radius:200px;
    color:#fff;
    transition: background-color 0.2s, border 0.2s, color: 0.2s;
    margin-right: 15px;
    font-size:30px;
    font-size:30px;
    font-weight:300;
}

#contact {
  background: rgb(224, 223, 223);
  padding: 25px;
  width:375px;
  height:400px;
  margin-left:50px;
  margin-top:80px;
  
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
input{
    font-family:'Lato';
    font-size:20px;
    font-weight:400;
      
 
}
.Images{
  height:150px;
  width:auto;  border-radius:50%;
 margin-left: 90px;
}
#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  font-family:'Lato';
  font-size:15px;
  font-weight:400;
    height: 200px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background:  #e67e22;
  color: #FFF;
  margin: 0 0 5px;
  border-radius:20px;
  padding: 10px;
  font-size: 20px;
  margin-top:15px;
}

#contact button[type="submit"]:hover {
  background:  #e67e22;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}