<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<link type="text/css" rel="stylesheet" href="proj.css">
<script src ="proj1.js"></script>
<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400" rel="stylesheet">
 <title>Rest Automation ResponsePage</title>
 <style>
     
 </style>
</head>
<body>
<section>
    <!--for demo wrap-->
    <h1>Request Logs</h1>
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
            <tr><th>Your Request</th><th>Response Received</th><th>Time Taken (In Milliseconds)</th></tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
    
      <table cellpadding="0" cellspacing="0" border="0" id="table">
        <tbody>
     <tr th:each="r:${response}">
		<td class="tab"> <span th:text="${r.input}"></span></td><td><span th:text="${r.output}"></span></td><td class="tab"><span th:text="${r.time}"></span></td>
	</tr>
	<tr><td> </td><td>Average Time</td><td class="tab"><span th:text="${time}"></span></td></tr>
	
	<tr><td class="tab"> Test status</td><td><span th:text="${color}"></span></td><td></td></tr>
	
             </tbody>
      </table>
    </div>
  </section>
 
  <a class="btn btn-full" href='index.html'>Thanks, Go Home</a>
  </body>
  </html>
 
 